{% extends "base.html" %}
{% set titulo = "Cadastro de Produto" %}
{% block conteudo %}

<body>
    <div class="container mt-5">
        <h1>Cadastro de Produto</h1>
        <form action="/post_cadastro" method="post">
            <div class="mb-3 form-floating">
                <input class="form-control" type="text" name="nome" id="nome" placeholder=" ">
                <label class="form-label" for="nome">Nome Produto</label>
            </div>
            <div class="mb-3 form-floating">
                <input class="form-control" type="text" name="descricao" id="descricao" placeholder=" ">
                <label class="form-label" for="descricao">Descrição</label>
            </div>
            <div class="mb-3 form-floating">
                <input class="form-control" type="text" name="estoque" id="estoque" placeholder=" ">
                <label class="form-label" for="estoque">Estoque</label>
            </div>
            <div class="mb-3 form-floating">
                <input class="form-control" type="text" name="preco" id="preco" placeholder=" ">
                <label class="form-label" for="preco">Preço</label>
            </div>
            <div class="mb-3 form-floating"></div>
            <label for="categoria" class="form-label">Categoria</label>
            <select class="form-select" id="categoria" name="categoria" required>
                <option value="">Selecione...</option>
                <option value="Alimentos">Alimentos</option>
                <option value="Limpeza">Limpeza</option>
                <option value="Eletrônicos">Eletrônicos</option>
                <option value="Brinquedos">Brinquedos</option>
                <option value="Vestuário">Vestuário</option>
                <option value="Automotivo">Automotivo</option>
                <option value="Esporte&Lazer">Esporte & Lazer</option>
            </select>
    </div>
    <div class="mb-3">
        <button class="btn btn-dark btn-lg" type="submit">Cadastrar</button>
    </div>
    </form>
    </div>

</body>

</html>
{% endblock %}